<ion-view title="Test App">

    <ion-nav-bar class="bar bar-header bar-dark">
        <ion-nav-buttons>
            <button menu-toggle="left" class="button button-icon">
                <i class="ion-navicon-round"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!--Der Infinite Scroll funktioniert mit einem Normalen Array schon-->
    <ion-content class="has-header">

        <ion-refresher pulling-text="Pull to refresh" on-refresh="getPerson()">
        </ion-refresher>

        <section>
            <button class="button" ng-click="sendMessage()">
                Default
            </button>
        </section>

        <section>
            <div class="list card">
                <div class="item" ng-repeat="item in persons">
                    <h3>{{item.name}}</h3>
                    <div>
                        <img src="{{item.img}}">
                    </div>
                        <ion-list>
                            <ion-item class="item item-divider">
                                Year of birth: {{item.birth_year}}
                            </ion-item>
                            <ion-item class="item item-divider">
                                gender:  {{item.gender}}
                            </ion-item>
                            <ion-item class="item item-divider">
                                height: {{item.height}}
                            </ion-item>
                            <!--<ion-item>-->
                                <!--{{item.homeworld}}-->
                            <!--</ion-item>-->
                            <!--<ion-item>-->
                                <!--{{item.mass}}-->
                            <!--</ion-item>-->
                            <!--<ion-item>-->
                                <!--{{item.species}}-->
                            <!--</ion-item>-->
                        </ion-list>

                </div>
            </div>
        </section>
    </ion-content>

</ion-view>