<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right">

        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="menu-logo">

        <ion-content class="has-header">
            <ion-list>
                <ion-item>home</ion-item>
                <ion-item>search</ion-item>
                <ion-item>write</ion-item>
                <ion-item>settings</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
